@mixin margin_gap( $left, $right, $top, $bottom ) {
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin  padding_gap( $left, $right, $top, $bottom ) {
    padding-left: $left;
    padding-right: $right;
    padding-top: $top;
    padding-bottom: $bottom;
}